.start-container{
    display: flex;
    background-color:  rgb(34, 34, 34);
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.start-profile {
    width: 50%;
    height: 80%;
    margin: 20px;
    margin-bottom: 100px;
}
.profile-container {
    height: 100%;
    width: 80%;
    display: column;
    margin-left: 50px;
    background-color: var(--secondary);
}
.avatar-info {
    display: flex;
    height: 35%;
    align-items: center;
    justify-content: space-between;

}
.avatar-info > div > img {
    height: 150px;
}
.avatar-info > div > h2 {
    color: #fff;
    font-size: 25px;
    margin-right: 100px;
    font-weight: bold;
}
.contact {

    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 h1 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-left: 170px;
}
.contact > div {
    display: flex;
    height: 40px;
    align-items: center;
    width: 70%;
}
.contact > div > span {
    color: #fff;
    font-size: 15px;
    padding: 5px;
}
.contact > div > span > span {
    color: #fff;
    font-size: 20px;
    padding: 5px;
    margin-left: 20px;
}
.start-content {
    width: 50%;
    margin: 20px;
    height: 80%;
    margin-bottom: 100px;

}
.start-content > h2 {
    padding: 15px;
    color: #ffffff
}
.start-content > hr {
    width: 20%;
    margin-left: 65px;
    color: #ffffff
}
.start-content > p {
    color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    font-size: 14px
}
.start-link {
    color: rgb(237, 42, 76);
    font-size: 14px;
    margin-right: 15px;
}